@{
	Func<string, string, string, bool> isActive = (area, controller, action) =>
		string.Equals(ViewContext.RouteData.Values["Area"] as string ?? "", area, StringComparison.OrdinalIgnoreCase) &&
		((string)ViewContext.RouteData.Values["Controller"]).EndsWith(controller, StringComparison.OrdinalIgnoreCase) &&
		(string.Equals(ViewContext.RouteData.Values["Action"] as string, action, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(action));

	var authUser = Context.GetAuthUser();
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@ViewData["Title"] - @Tx.T("AppTitle")</title>

	<link rel="stylesheet" href="~/lib/bs/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/lib/fa/css/all.min.css">
	<link rel="stylesheet" href="~/css/site.css">
</head>
<body class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container">
				<a asp-area="" asp-controller="BrokerUser" asp-action="Index" asp-route-id="" class="navbar-brand">@Tx.T("AppTitle")</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="@Tx.T("Layout.Menu.Toggle")">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						@if (authUser != null)
						{
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="BrokerUser" asp-action="Index" asp-route-id="" condition-class-active="@isActive("", "BrokerUser", "")">@Tx.T("Layout.Menu.BrokerUser")</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="VerneMQ" asp-action="Index" asp-route-id="" condition-class-active="@isActive("", "VerneMQ", "")">@Tx.T("Layout.Menu.VerneMQ")</a>
							</li>
						}
					</ul>

					<ul class="navbar-nav mb-2 mb-md-0">
						@if (authUser == null)
						{
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="" condition-class-active="@isActive("", "Account", "Login")"><span class="fas fa-sign-in-alt"></span><span class="d-inline d-sm-none"> @Tx.T("Layout.Menu.Login")</span></a>
							</li>
						}
						else
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@authUser.Username</a>
								<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-md-end" aria-labelledby="userMenu">
									<li>
										<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index" asp-route-id="">
											<span class="fas fa-fw fa-user"></span>
											@Tx.T("Layout.Menu.Profile")
										</a>
									</li>
									@if (authUser.IsAdmin)
									{
										<li><hr class="dropdown-divider"></li>
										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="" condition-class-active="@isActive("", "Users", "")">
												<span class="fas fa-fw fa-users"></span>
												@Tx.T("Layout.Menu.Users")
											</a>
										</li>
										<li>
											<a class="dropdown-item" asp-area="" asp-controller="Logs" asp-action="Index" asp-route-id="" condition-class-active="@isActive("", "Logs", "")">
												<span class="fas fa-fw fa-history"></span>
												@Tx.T("Layout.Menu.Logs")
											</a>
										</li>
									}
									<li><hr class="dropdown-divider"></li>
									<li>
										<a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-id="">
											<span class="fas fa-fw fa-sign-out-alt"></span>
											@Tx.T("Layout.Menu.Logout")
										</a>
									</li>
								</ul>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main class="flex-shrink-0">
		<div class="container">
			@RenderBody()
		</div>
	</main>

	<footer class="footer mt-auto py-3 bg-light">
		<div class="container text-center">
			<span class="text-muted">Created with <span class="fas fa-heart" style="color: red;" title="love"></span> by <a href="https://am-wd.de" class="text-decoration-none blank">AM.WD</a> | v@(Program.Version)</span>
		</div>
	</footer>

	<script src="~/lib/jq/dist/jquery.min.js"></script>
	<script src="~/lib/bs/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/luxon/build/global/luxon.min.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
